.card {
    display: inline-block;
    border:1px solid #344075;
    background: #dee1f0;
    border-radius: 3px;
    width: 250px;
    height: 300px;
    margin: 5px 8px;
    box-shadow: 1px 1px 2px 2px rgba(20, 20, 20, 0.3);
}